In [2]:
import os
import sys
import urllib.request
import datetime
import time
import json
import pandas as pd
import pymysql

In [4]:
rental = pd.read_csv('../data/부산교통공사_임대시설물 현황(2022년).csv',encoding='utf-8')
rental.head()

    호선      역사명   상가명      업종  면적  수량       계약시작일       계약종료일
0  1호선  다대포해수욕장    CU  브랜드편의점  53   1  2017-04-20  2022-04-19
1  1호선  다대포해수욕장  상가2호      상가  15   1  2019-12-03  2024-12-02
2  1호선     다대포항    CU  브랜드편의점  76   1  2017-04-20  2022-04-19
3  1호선       낫개    CU  브랜드편의점  24   1  2017-04-20  2022-04-19
4  1호선      신장림    CU  브랜드편의점  78   1  2017-04-20  2022-04-19

In [14]:
rental.계약시작일.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
370    False
371     True
372    False
373    False
374    False
Name: 계약시작일, Length: 375, dtype: bool

In [18]:
rental.loc[370:372]

      호선      역사명   상가명  업종  면적  수량       계약시작일       계약종료일
370  4호선  반여농산물시장  상가1호  상가  42   1  2017-09-11  2022-09-10
371  4호선       석대  상가1호  상가  10   1         NaN         NaN
372  4호선      영산대  상가1호  상가   9   1  2019-03-19  2024-03-18

In [30]:
usedata = lodging.loc[:,['영업상태명','업태구분명','소재지전체주소','좌표정보(x)', '좌표정보(y)']]
usedata.head()

   영업상태명    업태구분명                     소재지전체주소        좌표정보(x)        좌표정보(y)
0  영업/정상  숙박업(생활)       부산광역시 중구 남포동6가 95-1번지  384750.181192  179577.979682
1  영업/정상  숙박업(생활)        부산광역시 중구 신창동3가 5-5번지  384920.980936  179988.388815
2  영업/정상      여관업       부산광역시 중구 남포동5가 77-2번지  385011.695024  179500.445440
3  영업/정상      여관업    부산광역시 중구 부평동1가 41-7번지 ,8  384716.509602  179643.763677
4  영업/정상     일반호텔  부산광역시 중구 중앙동4가 81-8번지 외1필지  385707.828676  180730.545161

In [31]:
usedata.to_csv('../data/부산광역시_숙박업_handling.csv',encoding='utf-8')