데이터 출처 : https://www.data.go.kr/data/15041101/fileData.do

In [2]:
import pandas as pd

In [120]:
# 데이터 불러오기
df1 = pd.read_csv("./국가철도공단_부산_지하철_주소데이터_20211123.csv", encoding="cp949")
df1

    철도운영기관명   선명       역명                 지번주소                 도로명주소
0    부산교통공사  1호선  다대포해수욕장  부산시 사하구 다대동 1552-16  부산광역시 사하구 다대로 지하 692
1    부산교통공사  1호선     다대포항      부산시 사하구 다대동 909  부산광역시 사하구 다대로 지하 548
2    부산교통공사  1호선       낫개    부산시 사하구 다대동 63-13   부산광역시 사하구 다대로 지하422
3    부산교통공사  1호선      신장림      부산시 사하구 장림동 380   부산광역시 사하구 다대로 지하310
4    부산교통공사  1호선       장림    부산시 사하구 장림동 185-9   부산광역시 사하구 다대로 지하230
..      ...  ...      ...                  ...                   ...
119     NaN  NaN      NaN                  NaN                   NaN
120     NaN  NaN      NaN                  NaN                   NaN
121     NaN  NaN      NaN                  NaN                   NaN
122     NaN  NaN      NaN                  NaN                   NaN
123     NaN  NaN      NaN                  NaN                   NaN

[124 rows x 5 columns]

In [121]:
# 결측치 제거
df1 = df1.dropna(axis=0)
df1

    철도운영기관명   선명          역명                      지번주소                   도로명주소
0    부산교통공사  1호선     다대포해수욕장       부산시 사하구 다대동 1552-16    부산광역시 사하구 다대로 지하 692
1    부산교통공사  1호선        다대포항           부산시 사하구 다대동 909    부산광역시 사하구 다대로 지하 548
2    부산교통공사  1호선          낫개         부산시 사하구 다대동 63-13     부산광역시 사하구 다대로 지하422
3    부산교통공사  1호선         신장림           부산시 사하구 장림동 380     부산광역시 사하구 다대로 지하310
4    부산교통공사  1호선          장림         부산시 사하구 장림동 185-9     부산광역시 사하구 다대로 지하230
..      ...  ...         ...                       ...                     ...
109  부산교통공사  4호선          석대     부산광역시 해운대구 석대동 574-14     부산광역시 해운대구 석대천로 121
110  부산교통공사  4호선   영산대(아랫반송)     부산광역시 해운대구 반송동 698-12      부산광역시 해운대구 반송로 803
111  부산교통공사  4호선  동부산대학(윗반송)     부산광역시 해운대구 반송동 385-56      부산광역시 해운대구 반송로 917
112  부산교통공사  4호선          고촌   부산광역시 기장군 철마면 고촌리 518-2   부산광역시 기장군 철마면 반송로 991
113  부산교통공사  4호선  안평(고촌주택단지)  부산광역시 기장군 철마면 안평리 543-23  부산광역시 기장군 철마면 반송로 1001

[114 rows x 5 columns]

In [122]:
#필요한 열만 추출
df1.drop(["철도운영기관명","도로명주소"],axis=1, inplace=True)
df1

C:\Users\admin\AppData\Local\Temp\ipykernel_12628\524813263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(["철도운영기관명","도로명주소"],axis=1, inplace=True)

      선명          역명                      지번주소
0    1호선     다대포해수욕장       부산시 사하구 다대동 1552-16
1    1호선        다대포항           부산시 사하구 다대동 909
2    1호선          낫개         부산시 사하구 다대동 63-13
3    1호선         신장림           부산시 사하구 장림동 380
4    1호선          장림         부산시 사하구 장림동 185-9
..   ...         ...                       ...
109  4호선          석대     부산광역시 해운대구 석대동 574-14
110  4호선   영산대(아랫반송)     부산광역시 해운대구 반송동 698-12
111  4호선  동부산대학(윗반송)     부산광역시 해운대구 반송동 385-56
112  4호선          고촌   부산광역시 기장군 철마면 고촌리 518-2
113  4호선  안평(고촌주택단지)  부산광역시 기장군 철마면 안평리 543-23

[114 rows x 3 columns]

In [173]:
# 동, 리만 추출
df1["행정동"] = df1["지번주소"].str.split().str[2:3]
df1

C:\Users\admin\AppData\Local\Temp\ipykernel_12628\1199334469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["행정동"] = df1["지번주소"].str.split().str[2:3]

      선명          역명                      지번주소    행정동
0    1호선     다대포해수욕장       부산시 사하구 다대동 1552-16  [다대동]
1    1호선        다대포항           부산시 사하구 다대동 909  [다대동]
2    1호선          낫개         부산시 사하구 다대동 63-13  [다대동]
3    1호선         신장림           부산시 사하구 장림동 380  [장림동]
4    1호선          장림         부산시 사하구 장림동 185-9  [장림동]
..   ...         ...                       ...    ...
109  4호선          석대     부산광역시 해운대구 석대동 574-14  [석대동]
110  4호선   영산대(아랫반송)     부산광역시 해운대구 반송동 698-12  [반송동]
111  4호선  동부산대학(윗반송)     부산광역시 해운대구 반송동 385-56  [반송동]
112  4호선          고촌   부산광역시 기장군 철마면 고촌리 518-2  [철마면]
113  4호선  안평(고촌주택단지)  부산광역시 기장군 철마면 안평리 543-23  [철마면]

[114 rows x 4 columns]

In [174]:
# 기장군은 면,리
df1.loc[112, "행정동"] = "[철마면 고촌리]"
df1.loc[113, "행정동"] = "[철마면 안평리]"

In [175]:
df1

      선명          역명                      지번주소        행정동
0    1호선     다대포해수욕장       부산시 사하구 다대동 1552-16      [다대동]
1    1호선        다대포항           부산시 사하구 다대동 909      [다대동]
2    1호선          낫개         부산시 사하구 다대동 63-13      [다대동]
3    1호선         신장림           부산시 사하구 장림동 380      [장림동]
4    1호선          장림         부산시 사하구 장림동 185-9      [장림동]
..   ...         ...                       ...        ...
109  4호선          석대     부산광역시 해운대구 석대동 574-14      [석대동]
110  4호선   영산대(아랫반송)     부산광역시 해운대구 반송동 698-12      [반송동]
111  4호선  동부산대학(윗반송)     부산광역시 해운대구 반송동 385-56      [반송동]
112  4호선          고촌   부산광역시 기장군 철마면 고촌리 518-2  [철마면 고촌리]
113  4호선  안평(고촌주택단지)  부산광역시 기장군 철마면 안평리 543-23  [철마면 안평리]

[114 rows x 4 columns]

In [ ]:
regex = "\(.*\)|\s-\s.*"

In [ ]:
for i in range(len(df1)):
    df['브랜드'][i] = re.sub(regex, '', df['브랜드'][i])
    print(df['브랜드'][i])