In [2]:
import os
import sys
import urllib.request
import datetime
import time
import json
import pandas as pd
import pymysql 
import requests

In [29]:
# 본인이 발급받은 키
Servicekey = 'api key'

In [30]:
import requests

url = 'http://data.humetro.busan.kr/voc/api/open_api_distance.tnn'
params ={'serviceKey' : Servicekey, 'act' : 'json', 'scode' : '203' }

response = requests.get(url, params=params)
print(response.content)

b'\n\n\n\t\n{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."},"body":{"item":[{"dist":"9","endSc":"202","endSn":"\xc1\xdf\xb5\xbf","exchange":"N","startSc":"203","startSn":"\xc7\xd8\xbf\xee\xb4\xeb","stoppingTime":"30","time":"85"},{"dist":"12","endSc":"204","endSn":"\xb5\xbf\xb9\xe9","exchange":"N","startSc":"203","startSn":"\xc7\xd8\xbf\xee\xb4\xeb","stoppingTime":"30","time":"105"}],"numOfRows":2,"pageNo":1,"totalCount":2}}}'

In [31]:
params.keys()

dict_keys(['serviceKey', 'act', 'scode'])

In [32]:
params['scode']

'203'

In [33]:
response.raise_for_status()

response.encoding='EUC-KR'

api = response.text
type(api)

str

In [34]:
stationAPI = json.loads(api)

In [35]:
stationAPI

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'item': [{'dist': '9',
     'endSc': '202',
     'endSn': '중동',
     'exchange': 'N',
     'startSc': '203',
     'startSn': '해운대',
     'stoppingTime': '30',
     'time': '85'},
    {'dist': '12',
     'endSc': '204',
     'endSn': '동백',
     'exchange': 'N',
     'startSc': '203',
     'startSn': '해운대',
     'stoppingTime': '30',
     'time': '105'}],
   'numOfRows': 2,
   'pageNo': 1,
   'totalCount': 2}}}

In [36]:
len(stationAPI['response']['body']['item'])

2

In [38]:
stationAPI['response']['body']['item'][1]['stoppingTime']

'30'

In [3]:
station_code = pd.read_excel('./data/역 코드목록.xlsx',skiprows=1)

In [4]:
station_code.SCODE

0       95
1       96
2       97
3       98
4       99
      ...
109    410
110    411
111    412
112    413
113    414
Name: SCODE, Length: 114, dtype: int64

In [10]:
test = list(station_code.SCODE)

In [12]:
for t in test:
    print(t)
    break

95

In [27]:
csv = pd.DataFrame(columns=['역사명','대기시간'])
csv

Empty DataFrame
Columns: [역사명, 대기시간]
Index: []

In [28]:
csv = csv.append({'역사명':'다대포해수욕장','대기시간':30},ignore_index=True)
csv

C:\Users\0\AppData\Local\Temp\ipykernel_23120\1163157118.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  csv = csv.append({'역사명':'다대포해수욕장','대기시간':30},ignore_index=True)

       역사명 대기시간
0  다대포해수욕장   30