In [1]:
import os
import sys
import urllib.request
import datetime
import time
import json
import pandas as pd
import pymysql

In [20]:
# 본인이 발급받은 키
Servicekey = '{api key}'

In [24]:
import requests

url = 'http://data.humetro.busan.kr/voc/api/open_api_distance.tnn'
params ={'serviceKey' : Servicekey, 'act' : 'json', 'scode' : '203' }

response = requests.get(url, params=params)
print(response.content)

b'\n\n\n\t\n{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL SERVICE."},"body":{"item":[{"dist":"9","endSc":"202","endSn":"\xc1\xdf\xb5\xbf","exchange":"N","startSc":"203","startSn":"\xc7\xd8\xbf\xee\xb4\xeb","stoppingTime":"30","time":"85"},{"dist":"12","endSc":"204","endSn":"\xb5\xbf\xb9\xe9","exchange":"N","startSc":"203","startSn":"\xc7\xd8\xbf\xee\xb4\xeb","stoppingTime":"30","time":"105"}],"numOfRows":2,"pageNo":1,"totalCount":2}}}'

In [75]:
params.keys()

dict_keys(['serviceKey', 'act', 'scode'])

In [76]:
params['scode']

'203'

In [50]:
response.raise_for_status()

response.encoding='EUC-KR'

api = response.text
type(api)

str

In [54]:
stationAPI = json.loads(api)

In [55]:
stationAPI

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'item': [{'dist': '9',
     'endSc': '202',
     'endSn': '중동',
     'exchange': 'N',
     'startSc': '203',
     'startSn': '해운대',
     'stoppingTime': '30',
     'time': '85'},
    {'dist': '12',
     'endSc': '204',
     'endSn': '동백',
     'exchange': 'N',
     'startSc': '203',
     'startSn': '해운대',
     'stoppingTime': '30',
     'time': '105'}],
   'numOfRows': 2,
   'pageNo': 1,
   'totalCount': 2}}}

In [77]:
len(stationAPI['response']['body']['item'])

2

In [63]:
stationAPI['response']['body']['item'][0]['stoppingTime']

'30'

In [67]:
station_code = pd.read_excel('./data/역 코드목록.xlsx',skiprows=1)

In [71]:
station_code

          역명  SCODE
0    다대포해수욕장     95
1       다대포항     96
2         낫개     97
3        신장림     98
4         장림     99
..       ...    ...
109       석대    410
110      영산대    411
111    동부산대학    412
112       고촌    413
113       안평    414

[114 rows x 2 columns]