In [1]:
import pandas as pd

In [10]:
operating_revenue = pd.read_csv("./영업수익(2010~2022).csv", encoding="cp949", index_col=0)
operating_revenue

,영업수익명,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년 반기
0,운수수익,187961,204969,228753,234013,255738,250112,252272,269143,272513,269820,191031,194837,103758
1,부대사업수익 등,28129,30840,33036,33473,37200,39593,41503,44530,41158,41383,37149,35055,17499
2,합계,592012,645747,719295,735512,804414,789929,798319,851959,858697,850843,610242,619566,328773

In [11]:
operating_cost = pd.read_csv("./영업비용(2010~2022).csv", encoding="cp949", index_col=0)
operating_cost

,영업비용명,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년 반기
0,인건비,222642,241213,245539,259578,283954,294759,278751,343805,339796,323955,365414,382382,170038
1,경비,112489,126471,143182,152310,161579,170081,180001,179055,194974,204194,198567,200220,103982
2,감가상각비,98138,110834,102503,104263,107533,110326,114820,125582,134156,133967,135139,140525,71305
3,합계,433269,478518,491224,516151,553066,575166,573572,648442,668926,662116,699120,723127,345325

In [12]:
not_operating_revenue = pd.read_csv("./영업외수익(2010~2022).csv", encoding="cp949", index_col=0)
not_operating_revenue

,영업외수익명,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년 반기
0,이자수익,7042,5386,4539,1903,1345,1932,2476,2390,2436,2305,906,437,416
1,재고자산처분이익,324,1666,66,37,31,141,12,13,22,56,47,531,40
2,유형자산처분이익,4,3469,301,0,147,51,28,2140,437,11607,74,251,203
3,위약배상금,453,565,513,841,882,1235,633,420,817,994,1025,490,349
4,정부보조금,101422,113980,115874,115327,111356,146940,117150,156581,184089,182000,207000,304602,130095
5,자산수증이익,303,2054,205,43,853,830,17122,17205,814,5,35,2603,53
6,잡이익 등,1824,1961,1969,1805,2196,2932,6414,6994,2072,1828,1808,2184,4792
7,합계,111372,129081,123467,119956,116810,154061,143835,185743,190687,198795,210895,311098,135948

In [13]:
not_operating_cost = pd.read_csv("./영업외비용(2010~2022).csv", encoding="cp949", index_col=0)
not_operating_cost

,영업외수익명,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년 반기
0,유형자산처분손실,166,605,827,0,0,0,0,0,0,0,0,0,0
1,기부금,1,0,0,968,0,0,0,0,0,0,0,0,0
2,운동부경비,229,155,72,152,134,96,78,0,375,168,56,66,54
3,잡손실 등,203,279,884,265,443,15625,394,187,1025,229,3349,12455,2782
4,합계,599,1039,1783,1385,577,15721,472,187,1400,397,3405,12521,2836

In [14]:
sum = pd.read_csv("./재무제표_합계(2010~2022).csv", encoding="cp949", index_col=0)
sum

,부분별합계,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년 반기
0,영업수익,592012,645747,719295,735512,804414,789929,798319,851959,858697,850843,610242,619566,328773
1,영업비용,433269,478518,491224,516151,553066,575166,573572,648442,668926,662116,699120,723127,345325
2,영업 외 수익,111372,129081,123467,119956,116810,154061,143835,185743,190687,198795,210895,311098,135948
3,영업 외 비용,599,1039,1783,1385,577,15721,472,187,1400,397,3405,12521,2836

In [16]:
sum.iloc[0] + sum.iloc[2]

부분별합계       영업수익영업 외 수익
2010년            703384
2011년            774828
2012년            842762
2013년            855468
2014년            921224
2015년            943990
2016년            942154
2017년           1037702
2018년           1049384
2019년           1049638
2020년            821137
2021년            930664
2022년 반기         464721
dtype: object