In [40]:
import sys
import pandas as pd
import os

In [64]:
df = pd.read_csv('../data/total_data/통합_사용_데이터_추가수정_handling.csv',encoding='cp949',index_col=0)
df.head()

,역사명,동별,역위도,역경도,일평균승하차,업장수,1인 가구수,2인 가구수,환승,총 상가 수,...,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,기차역,여객 터미널,주변 관광지,주변 대학교
0,다대포해수욕장,다대1동,35.048670,128.964100,7761,345,6277,4362,NaN,2.0,...,41,69,88,96,97,NaN,NaN,NaN,3,0
1,다대포항,다대1동,35.057820,128.971300,6221,345,6277,4362,NaN,1.0,...,31,69,88,96,97,NaN,NaN,NaN,1,0
2,낫개,다대2동,35.065265,128.979873,8327,246,4633,3170,NaN,1.0,...,44,56,71,81,60,NaN,NaN,NaN,0,0
3,신장림,장림2동,35.074433,128.977041,5360,302,4160,3230,NaN,1.0,...,21,64,62,86,78,NaN,NaN,NaN,0,0
4,장림,장림2동,35.081090,128.977500,5490,302,4160,3230,NaN,1.0,...,23,64,62,86,78,NaN,NaN,NaN,0,0

In [65]:
df = df[['역사명', '동별', '역위도', '역경도',
       '총 상가 수', '공실 상가 수', '전체 상가 면적', '공실 상가 면적', '일평균승하차 레벨',
       '업장수 레벨', '1인 가구수 레벨', '2인 가구수 레벨', '20~40대 인구 수 레벨', '고속버스 터미널', '환승', '기차역',
       '여객 터미널', '주변 관광지','주변 대학교']]
df.head()

,역사명,동별,역위도,역경도,총 상가 수,공실 상가 수,전체 상가 면적,공실 상가 면적,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교
0,다대포해수욕장,다대1동,35.048670,128.964100,2.0,0.0,68.0,0.0,41,69,88,96,97,NaN,NaN,NaN,NaN,3,0
1,다대포항,다대1동,35.057820,128.971300,1.0,0.0,76.0,0.0,31,69,88,96,97,NaN,NaN,NaN,NaN,1,0
2,낫개,다대2동,35.065265,128.979873,1.0,0.0,24.0,0.0,44,56,71,81,60,NaN,NaN,NaN,NaN,0,0
3,신장림,장림2동,35.074433,128.977041,1.0,0.0,78.0,0.0,21,64,62,86,78,NaN,NaN,NaN,NaN,0,0
4,장림,장림2동,35.081090,128.977500,1.0,0.0,24.0,0.0,23,64,62,86,78,NaN,NaN,NaN,NaN,0,0

In [66]:
df = df.sort_values(by='전체 상가 면적',ascending=False).iloc[:50]
df.reset_index(drop=True,inplace=True)
df.head()

,역사명,동별,역위도,역경도,총 상가 수,공실 상가 수,전체 상가 면적,공실 상가 면적,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교
0,수영,광안3동,35.165227,129.114713,43.0,1.0,1767.0,87.0,87,96,60,20,39,NaN,1.0,NaN,NaN,0,0
1,전포,전포1동,35.153102,129.065374,33.0,11.0,1151.0,422.0,71,88,93,65,98,NaN,NaN,NaN,NaN,2,1
2,광안,광안2동,35.157916,129.113168,13.0,0.0,970.0,0.0,80,60,81,63,68,NaN,NaN,NaN,NaN,4,0
3,미남,온천3동,35.205503,129.068061,11.0,0.0,952.0,0.0,73,95,94,97,99,NaN,1.0,NaN,NaN,0,0
4,금련산,남천1동,35.149771,129.110961,17.0,0.0,817.0,0.0,64,86,39,45,37,NaN,NaN,NaN,NaN,4,0

In [67]:
df.columns

Index(['역사명', '동별', '역위도', '역경도', '총 상가 수', '공실 상가 수', '전체 상가 면적', '공실 상가 면적',
       '일평균승하차 레벨', '업장수 레벨', '1인 가구수 레벨', '2인 가구수 레벨', '20~40대 인구 수 레벨',
       '고속버스 터미널', '환승', '기차역', '여객 터미널', '주변 관광지', '주변 대학교'],
      dtype='object')

In [68]:
rank_df = df[['역사명','일평균승하차 레벨', '업장수 레벨', '1인 가구수 레벨', '2인 가구수 레벨', '20~40대 인구 수 레벨','고속버스 터미널', '환승', '기차역', '여객 터미널', '주변 관광지','주변 대학교']].fillna(0)
rank_df.head()

,역사명,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교
0,수영,87,96,60,20,39,0.0,1.0,0.0,0.0,0,0
1,전포,71,88,93,65,98,0.0,0.0,0.0,0.0,2,1
2,광안,80,60,81,63,68,0.0,0.0,0.0,0.0,4,0
3,미남,73,95,94,97,99,0.0,1.0,0.0,0.0,0,0
4,금련산,64,86,39,45,37,0.0,0.0,0.0,0.0,4,0

In [70]:
rank_df['종합점수'] = 0

for idx,line in enumerate(rank_df.iloc):
    # 기준 열의 합
    main_score = sum(line[1:6])
    # 기준 열의 갯수
    div = len(line[1:6])

    for item in line[6:]:
        if item:
            main_score += 10

    rank_df['종합점수'].iloc[idx] = main_score/div

C:\Users\0\AppData\Local\Temp\ipykernel_29556\3953266160.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_df['종합점수'].iloc[idx] = main_score/div

In [71]:
rank_df.sort_values(by='종합점수',ascending=False).reset_index(drop=True)

,역사명,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교,종합점수
0,사상,99,89,100,76,95,1.0,0.0,1.0,0.0,0,1,97.8
1,미남,73,95,94,97,99,0.0,1.0,0.0,0.0,0,0,93.6
2,전포,71,88,93,65,98,0.0,0.0,0.0,0.0,2,1,87.0
3,부전,93,92,94,44,72,0.0,0.0,1.0,0.0,4,1,85.0
4,센텀시티,95,94,43,88,84,0.0,0.0,1.0,0.0,1,0,84.8
5,온천장,88,67,91,75,88,0.0,0.0,0.0,0.0,0,1,83.8
6,부산대,86,81,69,77,79,0.0,0.0,0.0,0.0,0,1,80.4
7,다대포해수욕장,41,69,88,96,97,0.0,0.0,0.0,0.0,3,0,80.2
8,하단,96,72,78,69,75,0.0,0.0,0.0,0.0,0,1,80.0
9,명륜,75,67,91,75,88,0.0,0.0,0.0,0.0,0,0,79.2
10,중동,61,84,73,79,85,0.0,0.0,0.0,0.0,1,0,78.4
11,다대포항,31,69,88,96,97,0.0,0.0,0.0,0.0,1,0,78.2
12,연산,97,99,69,59,47,0.0,1.0,0.0,0.0,0,1,78.2
13,해운대,81,75,76,73,64,0.0,0.0,1.0,0.0,1,0,77.8
14,벡스코,70,94,43,88,84,0.0,0.0,0.0,0.0,1,0,77.8
15,민락,28,80,85,90,89,0.0,0.0,0.0,0.0,1,0,76.4
16,동래,94,97,41,68,66,0.0,1.0,0.0,0.0,0,0,75.2
17,장전,81,45,95,43,94,0.0,0.0,0.0,0.0,0,1,73.6
18,광안,80,60,81,63,68,0.0,0.0,0.0,0.0,4,0,72.4
19,동백,62,75,76,73,64,0.0,0.0,0.0,0.0,3,0,72.0
20,서면,100,100,61,18,50,0.0,1.0,0.0,0.0,4,1,71.8
21,범내골,78,91,72,40,59,0.0,0.0,0.0,0.0,2,0,70.0
22,교대,84,63,45,78,69,0.0,0.0,0.0,0.0,0,1,69.8
23,대연,74,59,86,48,61,0.0,0.0,0.0,0.0,0,1,67.6
24,냉정,50,40,84,70,80,0.0,0.0,0.0,0.0,0,1,66.8
25,수안,1,71,67,94,93,0.0,0.0,0.0,0.0,0,0,65.2
26,개금,69,55,79,47,65,0.0,0.0,0.0,0.0,0,1,65.0
27,장산,90,83,44,42,53,0.0,0.0,0.0,0.0,0,0,62.4
28,수영,87,96,60,20,39,0.0,1.0,0.0,0.0,0,0,62.4
29,신장림,21,64,62,86,78,0.0,0.0,0.0,0.0,0,0,62.2
30,시청,85,35,53,64,62,0.0,0.0,0.0,0.0,0,1,61.8
31,수정,48,79,29,71,81,0.0,0.0,0.0,0.0,0,0,61.6
32,양정,83,51,81,24,58,0.0,0.0,0.0,0.0,0,1,61.4
33,동의대,52,41,83,66,57,0.0,0.0,0.0,0.0,0,0,59.8
34,구서,76,62,31,60,50,0.0,0.0,0.0,0.0,0,1,57.8
35,괴정,72,50,46,70,49,0.0,0.0,0.0,0.0,0,0,57.4
36,금련산,64,86,39,45,37,0.0,0.0,0.0,0.0,4,0,56.2
37,신평,63,36,32,58,55,0.0,0.0,0.0,0.0,0,0,48.8
38,화명,79,21,21,56,52,0.0,0.0,1.0,0.0,0,0,47.8
39,초량,56,49,50,26,51,0.0,0.0,0.0,0.0,0,0,46.4
40,토성,69,37,49,22,20,0.0,0.0,0.0,0.0,4,1,43.4
41,중앙,77,90,16,9,8,0.0,0.0,0.0,0.0,3,0,42.0
42,자갈치,92,77,8,8,1,0.0,0.0,0.0,0.0,3,1,41.2
43,주례,58,17,17,46,41,0.0,0.0,0.0,0.0,0,1,37.8
44,반여농산물시장,12,27,65,55,18,0.0,0.0,0.0,0.0,0,0,35.4
45,부산진,68,20,31,29,14,0.0,0.0,1.0,0.0,0,0,34.4
46,부산,98,12,13,10,6,0.0,0.0,1.0,1.0,0,0,31.8
47,노포,82,10,12,27,11,1.0,0.0,0.0,0.0,0,0,30.4
48,범어사,67,10,12,27,11,0.0,0.0,0.0,0.0,0,0,25.4
49,체육공원,5,57,26,12,4,0.0,0.0,0.0,0.0,0,0,20.8

In [76]:
total = df[['역사명', '동별', '역위도', '역경도', '총 상가 수', '공실 상가 수', '전체 상가 면적', '공실 상가 면적']].merge(rank_df,on=['역사명']).sort_values(by='종합점수',ascending=False).reset_index(drop=True)
total.head()

,역사명,동별,역위도,역경도,총 상가 수,공실 상가 수,전체 상가 면적,공실 상가 면적,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교,종합점수
0,사상,괘법동,35.162361,128.984621,6.0,0.0,209.0,0.0,99,89,100,76,95,1.0,0.0,1.0,0.0,0,1,97.8
1,미남,온천3동,35.205503,129.068061,11.0,0.0,952.0,0.0,73,95,94,97,99,0.0,1.0,0.0,0.0,0,0,93.6
2,전포,전포1동,35.153102,129.065374,33.0,11.0,1151.0,422.0,71,88,93,65,98,0.0,0.0,0.0,0.0,2,1,87.0
3,부전,부전1동,35.162587,129.062952,3.0,2.0,101.0,70.0,93,92,94,44,72,0.0,0.0,1.0,0.0,4,1,85.0
4,센텀시티,우2동,35.168827,129.131745,5.0,0.0,178.0,0.0,95,94,43,88,84,0.0,0.0,1.0,0.0,1,0,84.8

In [77]:
total.to_csv('../data/total_data/종합_점수_계산_가중치_x.csv',encoding='cp949')

In [83]:
total[total['공실 상가 수']>0].head(10).reset_index(drop=True).to_csv('../data/total_data/종합_점수_계산_가중치_현재_공실_상위10개.csv',encoding='cp949')

In [86]:
total[total['공실 상가 수']>0].reset_index(drop=True)

,역사명,동별,역위도,역경도,총 상가 수,공실 상가 수,전체 상가 면적,공실 상가 면적,일평균승하차 레벨,업장수 레벨,1인 가구수 레벨,2인 가구수 레벨,20~40대 인구 수 레벨,고속버스 터미널,환승,기차역,여객 터미널,주변 관광지,주변 대학교,종합점수
0,전포,전포1동,35.153102,129.065374,33.0,11.0,1151.0,422.0,71,88,93,65,98,0.0,0.0,0.0,0.0,2,1,87.0
1,부전,부전1동,35.162587,129.062952,3.0,2.0,101.0,70.0,93,92,94,44,72,0.0,0.0,1.0,0.0,4,1,85.0
2,부산대,장전2동,35.229609,129.089358,6.0,1.0,434.0,30.0,86,81,69,77,79,0.0,0.0,0.0,0.0,0,1,80.4
3,명륜,온천1동,35.212551,129.079659,3.0,1.0,80.0,9.0,75,67,91,75,88,0.0,0.0,0.0,0.0,0,0,79.2
4,연산,연산4동,35.186168,129.081534,10.0,1.0,286.0,30.0,97,99,69,59,47,0.0,1.0,0.0,0.0,0,1,78.2
5,해운대,우1동,35.163672,129.158908,2.0,1.0,59.0,20.0,81,75,76,73,64,0.0,0.0,1.0,0.0,1,0,77.8
6,장전,장전1동,35.238091,129.088111,3.0,1.0,308.0,268.0,81,45,95,43,94,0.0,0.0,0.0,0.0,0,1,73.6
7,서면,부전2동,35.158282,129.059556,3.0,1.0,130.0,26.0,100,100,61,18,50,0.0,1.0,0.0,0.0,4,1,71.8
8,수영,광안3동,35.165227,129.114713,43.0,1.0,1767.0,87.0,87,96,60,20,39,0.0,1.0,0.0,0.0,0,0,62.4
9,시청,연산2동,35.179837,129.076642,4.0,1.0,96.0,30.0,85,35,53,64,62,0.0,0.0,0.0,0.0,0,1,61.8
10,수정,화명3동,35.223356,129.009198,2.0,1.0,60.0,48.0,48,79,29,71,81,0.0,0.0,0.0,0.0,0,0,61.6
11,동의대,가야1동,35.153986,129.032750,3.0,2.0,45.0,20.0,52,41,83,66,57,0.0,0.0,0.0,0.0,0,0,59.8
12,괴정,괴정1동,35.099816,128.992144,4.0,1.0,87.0,11.0,72,50,46,70,49,0.0,0.0,0.0,0.0,0,0,57.4
13,신평,신평2동,35.095179,128.960564,6.0,2.0,287.0,122.0,63,36,32,58,55,0.0,0.0,0.0,0.0,0,0,48.8
14,초량,초량3동,35.121168,129.043039,10.0,3.0,515.0,178.0,56,49,50,26,51,0.0,0.0,0.0,0.0,0,0,46.4
15,중앙,중앙동,35.103837,129.036371,25.0,2.0,791.0,192.0,77,90,16,9,8,0.0,0.0,0.0,0.0,3,0,42.0
16,자갈치,남포동,35.097372,129.026670,16.0,1.0,593.0,28.0,92,77,8,8,1,0.0,0.0,0.0,0.0,3,1,41.2
17,부산,초량1동,35.115224,129.039700,5.0,1.0,140.0,27.0,98,12,13,10,6,0.0,0.0,1.0,1.0,0,0,31.8
18,노포,청룡노포동,35.284687,129.094967,3.0,2.0,105.0,58.0,82,10,12,27,11,1.0,0.0,0.0,0.0,0,0,30.4
19,범어사,청룡노포동,35.273105,129.092679,3.0,1.0,614.0,10.0,67,10,12,27,11,0.0,0.0,0.0,0.0,0,0,25.4