In [22]:
from random import *
import pandas as pd

In [4]:
numbers = []
for i in range(100):
    numbers.append(randint(1,100))

100

In [5]:
numbers

[44,
 57,
 60,
 47,
 52,
 97,
 42,
 7,
 19,
 95,
 78,
 72,
 66,
 49,
 49,
 82,
 43,
 48,
 100,
 63,
 4,
 3,
 56,
 96,
 88,
 42,
 83,
 33,
 93,
 23,
 5,
 92,
 24,
 99,
 88,
 13,
 69,
 59,
 71,
 82,
 11,
 2,
 47,
 35,
 21,
 40,
 57,
 38,
 87,
 11,
 8,
 35,
 62,
 15,
 33,
 95,
 4,
 97,
 40,
 76,
 69,
 58,
 29,
 21,
 40,
 50,
 17,
 40,
 65,
 53,
 11,
 14,
 67,
 78,
 64,
 40,
 22,
 36,
 20,
 91,
 89,
 30,
 31,
 100,
 5,
 44,
 87,
 34,
 31,
 95,
 2,
 83,
 24,
 70,
 56,
 40,
 71,
 36,
 21,
 90]

In [14]:
total = 0

for number in numbers:
    total += number

total/100

50.31

In [15]:
avg = total/100

In [18]:
test = numbers[0]/avg*100*0.5
test

43.72888093818326

In [19]:
def getGrade(per):
    if 0 < per < 4:
        return 1
    elif per < 11:
        return 2
    elif per < 23:
        return 3
    elif per < 40:
        return 4
    elif per < 60:
        return 5
    elif per < 77:
        return 6
    elif per < 89:
        return 7
    elif per < 96:
        return 8
    elif 100 > per > 96:
        return 9
    else:
        print('out of grade')

In [20]:
numNgrade = []

for num in numbers:
    per = num/avg*100*0.5
    numNgrade.append([num,getGrade(per)])

In [21]:
numNgrade

[[44, 5],
 [57, 5],
 [60, 5],
 [47, 5],
 [52, 5],
 [97, 9],
 [42, 5],
 [7, 2],
 [19, 3],
 [95, 8],
 [78, 7],
 [72, 6],
 [66, 6],
 [49, 5],
 [49, 5],
 [82, 7],
 [43, 5],
 [48, 5],
 [100, 9],
 [63, 6],
 [4, 1],
 [3, 1],
 [56, 5],
 [96, 8],
 [88, 7],
 [42, 5],
 [83, 7],
 [33, 4],
 [93, 8],
 [23, 3],
 [5, 2],
 [92, 8],
 [24, 4],
 [99, 9],
 [88, 7],
 [13, 3],
 [69, 6],
 [59, 5],
 [71, 6],
 [82, 7],
 [11, 2],
 [2, 1],
 [47, 5],
 [35, 4],
 [21, 3],
 [40, 4],
 [57, 5],
 [38, 4],
 [87, 7],
 [11, 2],
 [8, 2],
 [35, 4],
 [62, 6],
 [15, 3],
 [33, 4],
 [95, 8],
 [4, 1],
 [97, 9],
 [40, 4],
 [76, 6],
 [69, 6],
 [58, 5],
 [29, 4],
 [21, 3],
 [40, 4],
 [50, 5],
 [17, 3],
 [40, 4],
 [65, 6],
 [53, 5],
 [11, 2],
 [14, 3],
 [67, 6],
 [78, 7],
 [64, 6],
 [40, 4],
 [22, 3],
 [36, 4],
 [20, 3],
 [91, 8],
 [89, 7],
 [30, 4],
 [31, 4],
 [100, 9],
 [5, 2],
 [44, 5],
 [87, 7],
 [34, 4],
 [31, 4],
 [95, 8],
 [2, 1],
 [83, 7],
 [24, 4],
 [70, 6],
 [56, 5],
 [40, 4],
 [71, 6],
 [36, 4],
 [21, 3],
 [90, 8]]

In [24]:
df = pd.DataFrame(numNgrade,columns=['숫자','등급'])
df

    숫자  등급
0   44   5
1   57   5
2   60   5
3   47   5
4   52   5
..  ..  ..
95  40   4
96  71   6
97  36   4
98  21   3
99  90   8

[100 rows x 2 columns]

In [34]:
df.등급.unique()

array([5, 9, 2, 3, 8, 7, 6, 1, 4], dtype=int64)