In [15]:
from random import *
import pandas as pd
import numpy as np
import scipy.stats as stats
import statistics

In [4]:
numbers = []
for i in range(100):
    numbers.append(randint(1,100))

100

In [16]:
station = pd.read_excel('../data/total_data/역별 데이터.xlsx')
station

,호선,역사명,환승,역위도,역경도,일평균승차,일평균하차,일평균승하차,순위,하행 대기시간,상행 대기시간
0,1,다대포해수욕장역,NaN,35.048670,128.964100,4264.0,3497.0,7761.0,69.0,20.0,0.0
1,1,다대포항역,NaN,35.057820,128.971300,2900.0,3321.0,6221.0,80.0,20.0,20.0
2,1,낫개역,NaN,35.065265,128.979873,4104.0,4223.0,8327.0,64.0,20.0,20.0
3,1,신장림역,NaN,35.074433,128.977041,2777.0,2583.0,5360.0,91.0,20.0,20.0
4,1,장림역,NaN,35.081090,128.977500,2854.0,2636.0,5490.0,89.0,20.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...
109,4,석대역,NaN,35.218112,129.137179,195.0,151.0,346.0,112.0,20.0,20.0
110,4,영산대역,NaN,35.225777,129.146149,2419.0,2377.0,4796.0,95.0,20.0,20.0
111,4,동부산대학역,NaN,35.232506,129.154024,2223.0,2097.0,4320.0,97.0,20.0,20.0
112,4,고촌역,NaN,35.236031,129.160444,569.0,447.0,1016.0,111.0,20.0,20.0
113,4,안평역,NaN,35.237363,129.171823,1753.0,1719.0,3472.0,103.0,30.0,0.0

In [21]:
type(list(station.columns))

list

In [56]:
station_test = np.array(list(station.일평균승하차))
station_test

array([ 7761.,  6221.,  8327.,  5360.,  5490.,  6578., 11314., 29080.,
       10929.,  7041., 15271.,  6290.,  5277., 10597., 13846., 27992.,
       28802., 16097., 30061., 10253., 12864.,  6248., 25681., 16322.,
       57826., 28422., 20425., 23612., 30035., 22544., 28565., 15692.,
       24357., 24167., 17955., 15857., 11618.,  9178., 12777., 19370.,
       24411., 11300., 18794., 11305., 14292., 28867.,  5878., 24200.,
       16701., 11471., 10166., 24395., 15595.,  7894.,  4593.,  8343.,
        8248., 14622., 38675.,  9512.,  5799.,  9877., 13621.,  9535.,
       10672.,  6107., 33585.,  6581.,  3426.,  7564.,  7021.,  5185.,
       10481.,  9230., 16561.,  7415.,  2527.,  3881.,  2497.,  7659.,
        3418.,  5641., 10188.,    nan,  7826.,  7754.,  6203., 14799.,
        9546.,  8536., 11065., 15355., 10071.,  8016.,  5802., 19223.,
        5530.,  4251.,  1158., 12374.,    nan,  3796.,  5911.,  2934.,
        5398.,  5157.,  4052.,  3061.,  3738.,   346.,  4796.,  4320.,
        1016.,  3472.])

In [76]:
stats.zscore(station_test,nan_policy='omit')

array([-5.00226897e-01, -6.66113539e-01, -4.39258171e-01, -7.58859252e-01,
       -7.44855834e-01, -6.27657999e-01, -1.17502717e-01,  1.79622590e+00,
       -1.58974378e-01, -5.77784288e-01,  3.08739777e-01, -6.58680956e-01,
       -7.67799896e-01, -1.94736952e-01,  1.55240774e-01,  1.67902807e+00,
        1.76628013e+00,  3.97715339e-01,  1.90189785e+00, -2.31792150e-01,
        4.94611104e-02, -6.63205137e-01,  1.43009039e+00,  4.21952024e-01,
        4.89270473e+00,  1.72534706e+00,  8.63921433e-01,  1.20722061e+00,
        1.89909716e+00,  1.09217714e+00,  1.74075082e+00,  3.54089307e-01,
        1.28747096e+00,  1.26700443e+00,  5.97856495e-01,  3.71862875e-01,
       -8.47562633e-02, -3.47589643e-01,  4.00895923e-02,  7.50278312e-01,
        1.29328777e+00, -1.19010778e-01,  6.88232399e-01, -1.18472185e-01,
        2.03283269e-01,  1.77328184e+00, -7.03061018e-01,  1.27055914e+00,
        4.62777372e-01, -1.00590897e-01, -2.41163668e-01,  1.29156427e+00,
        3.43640603e-01, -4.85900324e-01, -8.41479417e-01, -4.37534673e-01,
       -4.47767940e-01,  2.38830406e-01,  2.82978585e+00, -3.11611632e-01,
       -7.11570787e-01, -2.72294343e-01,  1.31004089e-01, -3.09134104e-01,
       -1.86658057e-01, -6.78393459e-01,  2.28149819e+00, -6.27334843e-01,
       -9.67187021e-01, -5.21447461e-01, -5.79938660e-01, -7.77710007e-01,
       -2.07232310e-01, -3.41988276e-01,  4.47696769e-01, -5.37497532e-01,
       -1.06402604e+00, -9.18175059e-01, -1.06725760e+00, -5.11214194e-01,
       -9.68048770e-01, -7.28590326e-01, -2.38793859e-01,             nan,
       -4.93225188e-01, -5.00980928e-01, -6.68052474e-01,  2.57896598e-01,
       -3.07949199e-01, -4.16744984e-01, -1.44324648e-01,  3.17788139e-01,
       -2.51396935e-01, -4.72758655e-01, -7.11247632e-01,  7.34443678e-01,
       -7.40547090e-01, -8.78319178e-01, -1.21149280e+00, -3.32100286e-03,
                   nan, -9.27331140e-01, -6.99506304e-01, -1.02018457e+00,
       -7.54765945e-01, -7.80726128e-01, -8.99755179e-01, -1.00650431e+00,
       -9.33578819e-01, -1.29896030e+00, -8.19612542e-01, -8.70886594e-01,
       -1.22678884e+00, -9.62231966e-01])

In [90]:
station_test = pd.to_numeric(station_test, errors='coerce')
station_test

array([ 7761.,  6221.,  8327.,  5360.,  5490.,  6578., 11314., 29080.,
       10929.,  7041., 15271.,  6290.,  5277., 10597., 13846., 27992.,
       28802., 16097., 30061., 10253., 12864.,  6248., 25681., 16322.,
       57826., 28422., 20425., 23612., 30035., 22544., 28565., 15692.,
       24357., 24167., 17955., 15857., 11618.,  9178., 12777., 19370.,
       24411., 11300., 18794., 11305., 14292., 28867.,  5878., 24200.,
       16701., 11471., 10166., 24395., 15595.,  7894.,  4593.,  8343.,
        8248., 14622., 38675.,  9512.,  5799.,  9877., 13621.,  9535.,
       10672.,  6107., 33585.,  6581.,  3426.,  7564.,  7021.,  5185.,
       10481.,  9230., 16561.,  7415.,  2527.,  3881.,  2497.,  7659.,
        3418.,  5641., 10188.,    nan,  7826.,  7754.,  6203., 14799.,
        9546.,  8536., 11065., 15355., 10071.,  8016.,  5802., 19223.,
        5530.,  4251.,  1158., 12374.,    nan,  3796.,  5911.,  2934.,
        5398.,  5157.,  4052.,  3061.,  3738.,   346.,  4796.,  4320.,
        1016.,  3472.])

In [95]:
station = station.dropna(subset=['일평균승하차'])
station['일평균승하차'] = station['일평균승하차'].astype(int)

In [96]:
# stats.zscore(station_test,nan_policy='omit')
station_z_scores = list(stats.zscore(station['일평균승하차'],nan_policy='omit'))
station_z_scores

[-0.5002268973180429,
 -0.6661135388670568,
 -0.4392581706188599,
 -0.7588592520967327,
 -0.7448558343036341,
 -0.6276579992352399,
 -0.1175027171728181,
 1.7962259021517146,
 -0.15897437756007157,
 -0.5777842881721273,
 0.30873977672942077,
 -0.6586809555768737,
 -0.7677998957646341,
 -0.19473695223167714,
 0.1552407739973787,
 1.6790280670833202,
 1.7662801317941654,
 0.39771533901480094,
 1.9018978471904047,
 -0.23179215008418413,
 0.049461110360280267,
 -0.6632051367100287,
 1.4300903861613912,
 0.4219520236567023,
 4.892704732001034,
 1.7253470643989541,
 0.863921432926575,
 1.207220606054307,
 1.899097163631785,
 1.0921771429540816,
 1.7407508239713625,
 0.35408930665937843,
 1.2874709618686024,
 1.267004428170997,
 0.5978564948577021,
 0.37186287539677276,
 -0.08475626325664913,
 -0.3475896433732685,
 0.04008959229874507,
 0.7502783116056596,
 1.293287766182659,
 -0.1190107775505364,
 0.6882323989223921,
 -0.11847218455849415,
 0.20328326888754766,
 1.7732818406907147,
 -0.7030610181211553,
 1.2705591419184759,
 0.46277737245350503,
 -0.10059089722269136,
 -0.24116366814571932,
 1.2915642686081237,
 0.3436406026137587,
 -0.48590032372971903,
 -0.8414794170760143,
 -0.4375346730443247,
 -0.4477679398931275,
 0.23883040636233635,
 2.829785853880798,
 -0.311611631504846,
 -0.7115707873954229,
 -0.27229434308576156,
 0.13100408935547733,
 -0.3091341037414516,
 -0.18665805735104335,
 -0.6783934590856201,
 2.2814981879817844,
 -0.6273348434400146,
 -0.9671870214186761,
 -0.5214474612045077,
 -0.5799386601402964,
 -0.7777100068182116,
 -0.2072323096470574,
 -0.34198827625602907,
 0.44769676867632197,
 -0.5374975323673669,
 -1.064026041387873,
 -0.918175059142831,
 -1.0672575993401268,
 -0.5112141943557049,
 -0.9680487702059437,
 -0.7285903259439581,
 -0.23879385898073344,
 -0.49322518842149365,
 -0.500980927506902,
 -0.6680524736384089,
 0.2578965982806321,
 -0.3079491991589587,
 -0.41674498355149375,
 -0.1443246481765223,
 0.3177881389957306,
 -0.25139693499452215,
 -0.47275865472388806,
 -0.7112476316001975,
 0.7344436776396174,
 -0.7405470903672962,
 -0.8783191777317044,
 -1.211492802609042,
 -0.0033210028598605057,
 -0.9273311400075493,
 -0.6995063043736764,
 -1.0201845718356337,
 -0.7547659453572116,
 -0.7807261275736482,
 -0.899755178814986,
 -1.0065043098377606,
 -0.9335788187152395,
 -1.2989603045167037,
 -0.8196125415990988,
 -0.8708865944415213,
 -1.2267888435830419,
 -0.9622319658918874]

In [98]:
len(station_z_scores)

112

In [108]:
station_use_p = list(station['일평균승하차'])

In [110]:
df3 = makeDataFrame(station_use_p,station_z_scores)
df3

       숫자  등급
0    7761   3
1    6221   3
2    8327   4
3    5360   3
4    5490   3
..    ...  ..
107   346   2
108  4796   3
109  4320   3
110  1016   2
111  3472   3

[112 rows x 2 columns]

In [111]:
df.등급.unique()

array([5, 9, 2, 3, 8, 7, 6, 1, 4], dtype=int64)

In [5]:
numbers

[44,
 57,
 60,
 47,
 52,
 97,
 42,
 7,
 19,
 95,
 78,
 72,
 66,
 49,
 49,
 82,
 43,
 48,
 100,
 63,
 4,
 3,
 56,
 96,
 88,
 42,
 83,
 33,
 93,
 23,
 5,
 92,
 24,
 99,
 88,
 13,
 69,
 59,
 71,
 82,
 11,
 2,
 47,
 35,
 21,
 40,
 57,
 38,
 87,
 11,
 8,
 35,
 62,
 15,
 33,
 95,
 4,
 97,
 40,
 76,
 69,
 58,
 29,
 21,
 40,
 50,
 17,
 40,
 65,
 53,
 11,
 14,
 67,
 78,
 64,
 40,
 22,
 36,
 20,
 91,
 89,
 30,
 31,
 100,
 5,
 44,
 87,
 34,
 31,
 95,
 2,
 83,
 24,
 70,
 56,
 40,
 71,
 36,
 21,
 90]

In [14]:
total = 0

for number in numbers:
    total += number

total/100

50.31

In [37]:
statistics.mean(numbers)

50.31

In [40]:
data = np.array(numbers)
data

array([ 44,  57,  60,  47,  52,  97,  42,   7,  19,  95,  78,  72,  66,
        49,  49,  82,  43,  48, 100,  63,   4,   3,  56,  96,  88,  42,
        83,  33,  93,  23,   5,  92,  24,  99,  88,  13,  69,  59,  71,
        82,  11,   2,  47,  35,  21,  40,  57,  38,  87,  11,   8,  35,
        62,  15,  33,  95,   4,  97,  40,  76,  69,  58,  29,  21,  40,
        50,  17,  40,  65,  53,  11,  14,  67,  78,  64,  40,  22,  36,
        20,  91,  89,  30,  31, 100,   5,  44,  87,  34,  31,  95,   2,
        83,  24,  70,  56,  40,  71,  36,  21,  90])

In [44]:
z_scores = list(stats.zscore(data))
z_scores

[-0.21711506722449012,
 0.23019014258824688,
 0.33341442177580155,
 -0.11389078803693542,
 0.05814967727565573,
 1.606513865088976,
 -0.28593125334952657,
 -1.4902145105376647,
 -1.0773173937874458,
 1.5376976789639396,
 0.9527600969011297,
 0.7463115385260204,
 0.5398629801509109,
 -0.04507460191189896,
 -0.04507460191189896,
 1.0903924691512026,
 -0.25152316028700833,
 -0.07948269497441719,
 1.7097381442765307,
 0.4366387009633563,
 -1.5934387897252194,
 -1.6278468827877375,
 0.19578204952572864,
 1.572105772026458,
 1.296841027526312,
 -0.28593125334952657,
 1.124800562213721,
 -0.5956040909121907,
 1.4688814928389031,
 -0.939685021537373,
 -1.559030696662701,
 1.434473399776385,
 -0.9052769284748547,
 1.6753300512140126,
 1.296841027526312,
 -1.2837659521625553,
 0.6430872593384657,
 0.29900632871328336,
 0.7119034454635021,
 1.0903924691512026,
 -1.3525821382875918,
 -1.6622549758502558,
 -0.11389078803693542,
 -0.5267879047871542,
 -1.0085012076624094,
 -0.35474743947456305,
 0.23019014258824688,
 -0.4235636255995995,
 1.262432934463794,
 -1.3525821382875918,
 -1.4558064174751464,
 -0.5267879047871542,
 0.40223060790083803,
 -1.2149497660375188,
 -0.5956040909121907,
 1.5376976789639396,
 -1.5934387897252194,
 1.606513865088976,
 -0.35474743947456305,
 0.8839439107760932,
 0.6430872593384657,
 0.2645982356507651,
 -0.7332364631622635,
 -1.0085012076624094,
 -0.35474743947456305,
 -0.01066650884938073,
 -1.1461335799124823,
 -0.35474743947456305,
 0.5054548870883927,
 0.09255777033817396,
 -1.3525821382875918,
 -1.249357859100037,
 0.5742710732134292,
 0.9527600969011297,
 0.4710467940258745,
 -0.35474743947456305,
 -0.9740931145998912,
 -0.49237981172463596,
 -1.0429093007249277,
 1.4000653067138666,
 1.3312491205888302,
 -0.6988283700997453,
 -0.6644202770372271,
 1.7097381442765307,
 -1.559030696662701,
 -0.21711506722449012,
 1.262432934463794,
 -0.5611959978496724,
 -0.6644202770372271,
 1.5376976789639396,
 -1.6622549758502558,
 1.124800562213721,
 -0.9052769284748547,
 0.6774953524009839,
 0.19578204952572864,
 -0.35474743947456305,
 0.7119034454635021,
 -0.49237981172463596,
 -1.0085012076624094,
 1.3656572136513485]

In [109]:
def makeDataFrame(stat,z_scores):
    grade = []
    for idx in range(len(z_scores)):
        if z_scores[idx]:
            score = int(z_scores[idx]*2+5)
            grade.append([stat[idx],score])

    return pd.DataFrame(grade,columns=['숫자','등급'])

In [47]:
df2.등급.unique()

array([4, 5, 8, 2, 6, 7, 1, 3], dtype=int64)

z점수 * 2 + 5 -> 정수화 -> stanine 점수

In [15]:
avg = total/100

In [18]:
test = numbers[0]/avg*100*0.5
test

43.72888093818326

In [19]:
def getGrade(per):
    if 0 < per < 4:
        return 1
    elif per < 11:
        return 2
    elif per < 23:
        return 3
    elif per < 40:
        return 4
    elif per < 60:
        return 5
    elif per < 77:
        return 6
    elif per < 89:
        return 7
    elif per < 96:
        return 8
    elif 100 > per > 96:
        return 9
    else:
        print('out of grade')

In [20]:
numNgrade = []

for num in numbers:
    per = num/avg*100*0.5
    numNgrade.append([num,getGrade(per)])

In [38]:
numNgrade

list

In [24]:
df = pd.DataFrame(numNgrade,columns=['숫자','등급'])
df

    숫자  등급
0   44   5
1   57   5
2   60   5
3   47   5
4   52   5
..  ..  ..
95  40   4
96  71   6
97  36   4
98  21   3
99  90   8

[100 rows x 2 columns]

In [48]:
df2

    숫자  등급
0   44   4
1   57   5
2   60   5
3   47   4
4   52   5
..  ..  ..
95  40   4
96  71   6
97  36   4
98  21   2
99  90   7

[100 rows x 2 columns]

In [34]:
df.등급.unique()

array([5, 9, 2, 3, 8, 7, 6, 1, 4], dtype=int64)

In [1]:
import os

In [2]:
file_list = os.listdir('../data/total_data/')
file_list

['동별 데이터.xlsx',
 '부산상권정보.csv',
 '시간대별 승하차 인원 통합(2021_2022_08).csv',
 '역별 데이터.xlsx',
 '지하철 역사 내 상가 임대 정보.csv',
 '출퇴근시간 유동인구_2021.xlsx']

In [7]:
file_list[0]

'동별 데이터.xlsx'

In [12]:
import re 

print(re.search('xlsx',file_list[0]))

<re.Match object; span=(7, 11), match='xlsx'>