In [2]:
import pandas as pd
import os

### 사용할 피일을 선택하기 위한 구문

In [6]:
use_file = os.listdir('../data/total_data/')
print(use_file)

['동별 데이터.xlsx', '부산상권정보.csv', '시간대별 승하차 인원 통합(2021_2022_08).csv', '역별 데이터.xlsx', '지하철 역사 내 상가 임대 정보.csv', '출퇴근시간 유동인구_2021.xlsx']

In [29]:
df = pd.read_excel(f'../data/total_data/{use_file[3]}')
df.head()

,호선,역사명,환승,역위도,역경도,일평균승차,일평균하차,일평균승하차,순위,하행 대기시간,상행 대기시간
0,1,다대포해수욕장역,NaN,35.048670,128.964100,4264.0,3497.0,7761.0,69.0,20.0,0.0
1,1,다대포항역,NaN,35.057820,128.971300,2900.0,3321.0,6221.0,80.0,20.0,20.0
2,1,낫개역,NaN,35.065265,128.979873,4104.0,4223.0,8327.0,64.0,20.0,20.0
3,1,신장림역,NaN,35.074433,128.977041,2777.0,2583.0,5360.0,91.0,20.0,20.0
4,1,장림역,NaN,35.081090,128.977500,2854.0,2636.0,5490.0,89.0,20.0,20.0

In [30]:
df['일평균승하차 stanine'] = round(round(df['일평균승하차'].rank(pct=True), 2) * 10, 0)

In [31]:
df.head()

,호선,역사명,환승,역위도,역경도,일평균승차,일평균하차,일평균승하차,순위,하행 대기시간,상행 대기시간,일평균승하차 stanine
0,1,다대포해수욕장역,NaN,35.048670,128.964100,4264.0,3497.0,7761.0,69.0,20.0,0.0,4.0
1,1,다대포항역,NaN,35.057820,128.971300,2900.0,3321.0,6221.0,80.0,20.0,20.0,3.0
2,1,낫개역,NaN,35.065265,128.979873,4104.0,4223.0,8327.0,64.0,20.0,20.0,4.0
3,1,신장림역,NaN,35.074433,128.977041,2777.0,2583.0,5360.0,91.0,20.0,20.0,2.0
4,1,장림역,NaN,35.081090,128.977500,2854.0,2636.0,5490.0,89.0,20.0,20.0,2.0

In [32]:
df['일평균승하차 stanine'].unique()

array([ 4.,  3.,  2.,  6., 10.,  7.,  9.,  8.,  5.,  1.,  0., nan])

In [39]:
df['일평균승하차 stanine'] = df['일평균승하차 stanine'].fillna(0)
df['일평균승하차 stanine'].unique()

array([ 4.,  3.,  2.,  6., 10.,  7.,  9.,  8.,  5.,  1.,  0.])

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   호선              114 non-null    int64
 1   역사명             114 non-null    object
 2   환승              12 non-null     float64
 3   역위도             114 non-null    float64
 4   역경도             114 non-null    float64
 5   일평균승차           112 non-null    float64
 6   일평균하차           112 non-null    float64
 7   일평균승하차          112 non-null    float64
 8   순위              112 non-null    float64
 9   하행 대기시간         112 non-null    float64
 10  상행 대기시간         112 non-null    float64
 11  일평균승하차 stanine  114 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 10.8+ KB

In [41]:
df.일평균승하차.describe()

count      112.000000
mean     12404.830357
std       9325.171507
min        346.000000
25%       5859.000000
50%       9711.500000
75%      15917.000000
max      57826.000000
Name: 일평균승하차, dtype: float64

In [44]:
df.일평균승하차[0]/df.일평균승하차.mean()*0.5*100

31.282169028337897

In [47]:
df.일평균승하차.max()/df.일평균승하차.mean()

4.661571205341238

In [5]:
df = pd.read_excel('../data/total_data/출퇴근시간 유동인구_2021.xlsx')
df.head()

,구군,평균,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,강서구,월,325284.3900,323049.8700,335120.0600,340570.520,332289.7700,340678.4500,337488.640,328374.7400,328764.380,333414.260,340405.1000,337753.1500
1,강서구,일,16264.2195,16152.4935,16756.0030,17028.526,16614.4885,17033.9225,16874.432,16418.7370,16438.219,16670.713,17020.2550,16887.6575
2,금정구,월,482598.8900,477047.1100,484669.5900,490864.460,487435.4500,484936.0000,483898.580,482964.2300,487082.060,484633.900,485502.5900,488392.9900
3,금정구,일,24129.9445,23852.3555,24233.4795,24543.223,24371.7725,24246.8000,24194.929,24148.2115,24354.103,24231.695,24275.1295,24419.6495
4,기장군,월,341181.1700,343398.7900,345588.9500,358682.040,356153.2800,348500.3200,350763.400,349328.5900,348077.970,348449.770,345905.8900,345960.3100

In [10]:
df[df['평균']=='월'].to_excel('../data/total_data/출퇴근시간 유동인구_2021_월.xlsx')

In [11]:
df[df['평균']=='일'].to_excel('../data/total_data/출퇴근시간 유동인구_2021_일.xlsx')