In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=[['st_password','state','category','area_id']])
df

Empty DataFrame
Columns: [(st_password,), (state,), (category,), (area_id,)]
Index: []

In [28]:
dlist = [
    [1,12,23,0],
    [2,4,8,0],
    [3,4,4,0],
    [4,6,13,0],
    [5,6,10],
    [6,38,71,3],
    [7,18,33,1],
    [8,98,182,8],
    [9,12,21,1],
    [10,30,27,2],
    [11,16,29,1]
]

def new_df(area,time,stType):
    add_df = pd.DataFrame(columns=[['st_password','state','category','area_id']])
    for i in range(time):
        add_df.loc[i] = ['1234','1',stType,area]
    return add_df

df = pd.DataFrame(columns=[['st_password','state','category','area_id']])

for item in dlist:
    cnt = 1
    for j,ea in enumerate(item[1:]):
        a = new_df(item[0],ea,j)
        df = pd.concat([df,a],ignore_index=True)


df

    st_password state category area_id
0          1234     1        0       1
1          1234     1        0       1
2          1234     1        0       1
3          1234     1        0       1
4          1234     1        0       1
..          ...   ...      ...     ...
676        1234     1        1      11
677        1234     1        1      11
678        1234     1        1      11
679        1234     1        1      11
680        1234     1        2      11

[681 rows x 4 columns]

In [29]:
df.to_csv('../data/dummyStorage.csv')